<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!-- file appender -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ErrorlogFile.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="1MB" />
      <datePattern value=".yyyy-MM-dd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %M -%L %newline %message %newline %newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>

  <appSettings>

    <add key="userTypeId" value="2" />
    <!--Crone  Job Scheduler-->
    <add key="CronJobExeTime" value="0 59 23 ? * *" />
    <add key="CronJobExeTimeHour" value="15" />
    <add key="CronJobExeTimeMinute" value="17" />

    <!--Reset Password Details-->
    <add key="resetpassword" value="~/Templates/Resetpwd.html" />
    <add key="resetpwdsubject" value="Your Dheya account password reset" />
    <add key="resetpwdOPTSMS" value="Your Forgot password OTP is :{OTP}" />

    <!--SMS Details-->
    <add key="SMSUserId" value="2000167436" />
    <add key="SMSPassword" value="xzreMXXv5" />
    <add key="sessionCompleteOTP" value="Dear {Name},&#13;&#10;       Greetings from Dheya&#13;&#10;       Dear {Name}, Your Career Guidance Session OTP is {OTP}. This is for the completion of the session.Please share it with your mentor {MentorName}. .&#13;&#10; &#13;&#10; &#13;&#10;       Also request you to submit your valuable feedback on the link https://bit.ly/2CKCDIo. .&#13;&#10; &#13;&#10; &#13;&#10; Thanks and Regards,&#13;&#10;Dheya Team"/>

    
    <add key="FileUploadLocation" value="G:\Dheya_Project\API\CDF-Dashboard-API-master\CDFAPI\Image" />


    <!--Email Details-->
    <!--<add key="Host" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="support.tech@dheya.com"/>
    <add key="Password" value="vxshheucmgworwcf"/>
    <add key="Port" value="587" />
    <add key="admin" value="sachin.patil@dheya.com" />
    <add key="DisplayName" value="Dheya.com" />-->
    
    <add key="Host" value="smtp.gmail.com" />
    <!--<add key="Host" value="outlook.office365.com" />-->
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="support.tech@dheya.com"/>
    <add key="Password" value="kglnnhvamtojscoa" />
    <!--<add key="Password" value="kglnnhvamtojscoa1@"/>-->
    <add key="Port" value="587" />
    <add key="admin" value="sachin.patil@dheya.com" />
    <add key="DisplayName" value="Dheya.com" />


    <add key="imageFormalPath" value="~/doc/formalImg/"/>
    <add key="docfolderpath" value="http://dheya.com/cdf-dashboard/doc/cdf-doc/" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--CDF Registration Template-->
    <add key="CDFRegistrationCompleteTemplatePath" value="~/Templates/CDFRegistrationComplete.html" />
    <add key="CDFRegistrationCompleteSubject" value="CDF Registration Completion and Dashboard Login" />
    <add key="CDFRegistrationCompleteSmsTemplate" value="Thanks for registering with us, Login to the dashboard and complete your profile." />

    <!--Test Complete Template-->
    <add key="CDFTestCompleteEmailTemplatePath" value="~/Templates/CDFTestComplete.html" />
    <add key="CDFTestCompleteEmailSubject" value="Successfully Completion of Personality Assessment Test" />
    <add key="CDFTestCompleteSmsTemplate" value="Dear {CDF}, You have completed the test, We will review and update you on next step." />

    
    <add key="DashboardLink" value="https://www.dheya.com/cdf-dashboard" />
  </appSettings>  
  <connectionStrings>
    <!-- Local Mobile Connection string -->
    <!--<add name="DBConnection" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=MobileAppDB1;Integrated Security=True;Pooling=False;" providerName="System.Data.SqlClient" />-->
    <!-- Online Mobile Connection string -->
    <add name="DBConnection" connectionString="Data Source=dheyadb-test.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com;Initial Catalog=MobileAppDB1;User ID=dheya_admin;Password=dheya2015;Pooling=true;Connection Timeout=10000" providerName="System.Data.SqlClient"/>
    <add name="career_portalConnectionString" connectionString="Data Source=dheyadb-test.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com;Initial Catalog=cyberind_dheya;User ID=dheya_admin;Password=dheya2015;Pooling=true;Connection Timeout=10000" providerName="System.Data.SqlClient"/>

    <!--<add name="career_portalConnectionString" connectionString="dheyadb-test.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com;Initial Catalog=cyberind_dheya;User ID=dheya_admin;Password=dheya2015;Connection Timeout=10000" providerName="System.Data.SqlClient"/>-->
    <!--MySQL CRM AWS RDS Connection String-->
    <add name="CRM_ConnectionString" connectionString ="server=dheyacrmdb.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com;Port=3306;Database=suitecrm;Uid=dheyadb;Pwd=goal2017;" providerName="MySql.Data.MySqlClient"/>

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
